/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: Arial, sans-serif;
    background-color: #fafafa; /* Cinza claro */
    color: #333;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #f44336; /* Vermelho */
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #9c27b0; /* Roxo */
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Estilo para os contêineres de seção */
div {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

div:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para a imagem */
img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin: 0 auto 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo para o link de voltar */
a {
    display: block;
    text-align: center;
    background-color: #2196f3; /* Azul */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

a:hover {
    background-color: #1976d2; /* Azul mais escuro */
}
